<mat-toolbar color="primary">
  <h1>
    Statie ITP
  </h1>
  <button mat-button routerLink="/appointments">Programari viitoare</button>
  <button mat-button routerLink="/soon-to-expire">Expira in curand</button>
  <button mat-button routerLink="/vehicles">Vehicule</button>
  <button mat-button routerLink="/clients">Clienti</button>
  <button mat-button routerLink="/past-appointments">Programari finalizate</button>
  <button mat-button routerLink="/report">Raport</button>
</mat-toolbar>

<router-outlet></router-outlet>
